.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
}

.header-row {
    background: #04B4AE;
    color: #9A2EFE
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}